---
interface Props {
  kicker?: string;
  title: string;
  href: string;
  linkLabel: string;
}

const { kicker, title, href, linkLabel } = Astro.props;
---

<section class="cta-panel cta-panel-large">
  <div>
    {kicker && <p class="small-label">{kicker}</p>}
    <h2>{title}</h2>
    <p>
      <slot />
    </p>
  </div>
  <a href={href}>{linkLabel}</a>
</section>
